<div id="container">
  <div class="jumbotron">
    <h1>Burger Binge!</h1>
    <br>
    <h2>Add a Burger</h2>
    <form class="create-form">
      <div class="form-group">
        <label for="bu">Burger Name:</label>
        <input type="text" id="bu" name="name">
      </div>

      <button type="submit" style="color: black;">Add a Burger</button>
    </form>
  </div>


<div id="mainbox">
  <div class="row">
    <div class="col-md-3" id="left">
      <h2>Uneaten Burgers!</h2>
      <ul>
        {{#each burgers}}
        {{#unless devour}}
        {{this.burger_name}}
        {{> burger/burger-block devour=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="col-md-5" id="right">
    <h2>Devoured Burgers!</h2>
    <ul>
      {{#each burgers}}
      {{#if devour}}
      {{this.burger_name}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
</div>