.jumbotron{
    background-image: url("/assets/images/burger2.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
    margin-top: 10px;
    background-color: darkgoldenrod;
    text-align: center;
    color: antiquewhite;
}
#mainrbox{
    margin-left: 50px;
    font-size: 20px;
    color: darkgreen;
    
}
#mainlbox{
    margin-right: 50px;
    font-size: 20px;
    color: darkred;
}
