.jumbotron{
    background-image: url("\/public/assets/images/burger1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
    background-color: goldenrod;
}