<p>

{{name}}
	<button style="color: black; font-size: 14px;" class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Devour It!{{else}}Try it Again!{{/if}}
	</button>


</p>
